body{
background-image: linear-gradient(to right, pink, yellow);
    background-attachment: fixed;
}


a{
    
    color: black;
    
}

a:visited{
    color: black;
    
}

.box_one{
    position: absolute;
    text-align: justify;
    bottom: 0%;
    font-size: 12pt;
    width: 110px;
    height: 200px;
margin-left: 0px;
    overflow: scroll;
    
}


.box_two{
    position: absolute;
    left: 110px;
       bottom: 0%;
     text-align: justify;
    font-size: 12pt;
    width: 100px;
    height: 500px;
    margin-left:20px;
    overflow: scroll;
    

}

.box_three{
     position: absolute;
    left: 240px;
       bottom: 0%;
       text-align: justify;
    font-size: 12pt;
    width: 100px;
    height: 600px;
    overflow: scroll;


}
.box_four{
    position: absolute;
    left: 350px;
       bottom: 0vh;
    text-align: justify;
    font-size: 12pt;
    width: 110px;
    height: 280px;
    overflow: scroll;

}

.box_five{
    position: absolute;
    left: 450px;
       bottom: 0%;
    text-align: justify;
    font-size: 12pt;
    width: 120px;
    height: 500px;
    margin-left:20px;
    overflow: scroll;
    
}

.box_six{
    position: absolute;
    left: 580px;
       bottom: 0%;
       text-align: justify;
    font-size: 12pt;
    width: 175px;
    height: 300px;
    margin-left:20px; 
    overflow:scroll;
}
.box_seven{
    position: absolute;
    left: 770px;
       bottom: 0%;
       text-align: justify;
    font-size: 12pt;
    width: 105px;
    height: 80vh;
    margin-left:20px; 
    overflow: scroll;
    
}

.box_eight{
    position: absolute;
    left: 890px;
       bottom: 0%;
    text-align: justify;
    font-size: 12pt;
    width: 105px;
    height: 85vh;
    margin-left:20px;  
    overflow:scroll;
}
.box_nine{
    position: absolute;
    left: 1010px;
       bottom: 0%;
    text-align: justify;
    font-size: 12pt;
    width: 115px;
    height: 80vh;
    margin-left:20px; 
    overflow: scroll;
}
.box_ten{
    position: absolute;
    left: 1140px;
       bottom: 0%;
    text-align: justify;
    font-size: 12pt;
    width: 115px;
    height: 87vh;
    margin-left:20px;   
    overflow: scroll;
}
.box_eleven{
    position: absolute;
    left: 1270px;
       bottom: 0%;
    text-align: justify;
    font-size: 12pt;
    width: 119px;
    height: 65vh;
    margin-left:20px;
    overflow: scroll;
}

.box_twelve{
      position: absolute;
    left: 1400px;
       bottom: 0%;
    text-align: justify;
    font-size: 12pt;
    width: 215px;
    height: 300px;
    margin-left:20px;  
    overflow: scroll;
    
}

.box_fourteen{
      position: absolute;
    left: 1640px;
       bottom: 0%;
    text-align: justify;
    font-size: 12pt;
    width: 175px;
    height: 400px;
    margin-left:20px;  
    overflow: scroll;
    
}

.box_fifteen{
      position: absolute;
    left: 1830px;
       bottom: 0%;
    text-align: justify;
    font-size: 12pt;
    width: 130px;
    height: 87vh;
    margin-left:20px;  
    overflow: scroll;
    
}

.box_sixteen{
    position: absolute;
    left: 1970px;
       bottom: 0%;
    text-align: justify;
    font-size: 12pt;
    width: 119px;
    height: 65vh;
    margin-left:20px;
    overflow: scroll;
}


.box_seventeen{
    position: absolute;
    left: 2130px;
       bottom: 0vh;
    text-align: justify;
    font-size: 12pt;
    width: 110px;
    height: 280px;
    overflow: scroll;

}

.box_eighteen{
    position: absolute;
    text-align: justify;
    left: 2250px;
    bottom: 0%;
    font-size: 12pt;
    width: 110px;
    height: 200px;
margin-left: 0px;
    overflow: scroll;
}


.box_nineteen{
    position: absolute;
    left: 2360px;
       bottom: 0%;
     text-align: justify;
    font-size: 12pt;
    width: 100px;
    height: 500px;
    margin-left:20px;
    overflow: scroll;
    
    
}

.box_twenty{
    position: absolute;
    left: 2470px;
       bottom: 0%;
       text-align: justify;
    font-size: 12pt;
    width: 175px;
    height: 300px;
    margin-left:20px; 
    overflow:scroll;
}

.box_twenty_one{
    position: absolute;
    left: 2680px;
       bottom: 0vh;
    text-align: justify;
    font-size: 12pt;
    width: 110px;
    height: 280px;
    overflow: scroll;

}

.box_twenty_two{
    position: absolute;
    left: 2790px;
       bottom: 0%;
    text-align: justify;
    font-size: 12pt;
    width: 120px;
    height: 500px;
    margin-left:20px;
    overflow: scroll;
    margin-right: 20px;
    
}
