.box_one{
    position: absolute;
    text-align: justify;
    bottom: 0%;
    font-size: 12pt;
    width: 110px;
    height: 200px;
margin-left: 0px;
    overflow: hidden;
}


.box_two{
    position: absolute;
    left: 110px;
       bottom: 0%;
     text-align: justify;
    font-size: 12pt;
    width: 100px;
    height: 500px;
    margin-left:20px;
    overflow: hidden;
    
    
}

.box_three{
     position: absolute;
    left: 240px;
       bottom: 0%;
       text-align: justify;
    font-size: 12pt;
    width: 100px;
    height: 600px;
    overflow: hidden;

      
}
.box_four{
    position: absolute;
    left: 350px;
       bottom: 0vh;
    text-align: justify;
    font-size: 12pt;
    width: 110px;
    height: 280px;
    overflow: hidden;

}

.box_five{
    position: absolute;
    left: 450px;
       bottom: 0%;
    text-align: justify;
    font-size: 12pt;
    width: 120px;
    height: 500px;
    margin-left:20px;
    overflow: hidden;
    
}

.box_six{
    position: absolute;
    left: 580px;
       bottom: 0%;
       text-align: justify;
    font-size: 12pt;
    width: 175px;
    height: 300px;
/*    border: 1px solid black;*/
    margin-left:20px; 
    overflow:hidden;
}
.box_seven{
    position: absolute;
    left: 770px;
       bottom: 0%;
       text-align: justify;
    font-size: 12pt;
    width: 105px;
    height: 99vh;
    margin-left:20px; 
    overflow: hidden;
    
}

.box_eight{
    position: absolute;
    left: 890px;
       bottom: 0%;
    text-align: justify;
    font-size: 12pt;
    width: 105px;
    height: 96vh;
    margin-left:20px;  
    overflow:hidden;
}
.box_nine{
    position: absolute;
    left: 1010px;
       bottom: 0%;
    text-align: justify;
    font-size: 12pt;
    width: 115px;
    height: 80vh;
    margin-left:20px; 
    overflow: hidden;
}
.box_ten{
    position: absolute;
    left: 1140px;
       bottom: 0%;
    text-align: justify;
    font-size: 12pt;
    width: 115px;
    height: 87vh;
    margin-left:20px;   
    overflow: hidden;
}
.box_eleven{
    position: absolute;
    left: 1270px;
       bottom: 0%;
    text-align: justify;
    font-size: 12pt;
    width: 119px;
    height: 65vh;
    margin-left:20px;
    overflow: hidden;
}

.box_twelve{
      position: absolute;
    left: 1400px;
       bottom: 0%;
    text-align: justify;
    font-size: 12pt;
    width: 215px;
    height: 300px;
    margin-left:20px;  
    overflow: hidden;
    
}

